.container {
    display: flex;
    justify-content: space-between;
    width: 95vw;
    height: 92vh;
    background-color: rgba(182, 197, 207, 0.417);
    border-radius: 4px;
}

.left-nav {
    border: 1px solid black;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.right-nav {
    border: 1px solid black;
    min-width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.hub {
    border: 1px solid black;
    width: 100%;
}
